@media only screen and (max-width: 900px) {
  .drop-down{
    display: block;
    
  }
  .drop-down button{
    background: transparent;
    outline: none;
    border: none;
    transition: all 0.4s;
  }
  .navbar-wrapper{
    padding: 1em 2.5em;
  }

  .nav-items ul{
    opacity: 0.9;
    position: fixed;
    left: 0%;
    width: 100vw;
    flex-direction: column;
    top:0px;
    margin-top: 5em;
    padding-top: 20px;
    text-align: center;
    background-color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.356) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .nav-item{
    margin-bottom: 15px;
  }
}